@model X.PagedList.IPagedList<QuanLyBanGiay_ADMIN.Models.Sanpham>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .product-image {
        max-width: 100px;
        max-height: 100px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-12 offset">
            <h1 class="text-info text-center p-1 border border-dark">THÙNG RÁC</h1>
            <a onclick="Hoi(event)" type="submit" class="btn btn-primary" style="background-color:hotpink" asp-action="DeleteAll" asp-controller="SanPham">XÓA TOÀN BỘ</a>
            <table class="table table-bordered text-center">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Màu sắc</th>
                        <th>Hãng sản xuất</th>
                        <th>Loại giày</th>
                        <th>Giá gốc</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model)
                    {
                        <tr>

                            <td>@d.Ma_Sanpham</td>
                            <td>@d.Ten_Sanpham</td>
                            <td>@d.Mausac</td>
                            <td>@d.MaNhasanxuat</td>
                            <td>@d.MaLoai</td>
                            <td>@d.Giagoc</td>
                            <td>
                                <a class="btn btn-sn btn-primary" asp-action="KhoiPhuc" asp-controller="SanPham" asp-route-MaSanpham="@d.Ma_Sanpham">KHÔI PHỤC</a>
                                <a onclick="Hoi(event)" type="submit" class="btn btn-primary" style="background-color:red" asp-action="DeleteThungRac" asp-controller="SanPham" asp-route-Ma_Sanpham="@d.Ma_Sanpham">XÓA</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="page-info" style="text-align:center">
    Trang @(Model.PageNumber) trên @Model.PageCount
</div>
<div class="card-tools">
    <ul class="pagination pagination-sm">
        @Html.PagedListPager(Model,page=>Url.Action("ThungRac","SanPham",new{page = page}), new PagedListRenderOptions{
        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] {"page-link"},
        Display = PagedListDisplayMode.IfNeeded,
        MaximumPageNumbersToDisplay = 3, // Số trang tối đa để hiển thị
        EllipsesFormat = "&#8230;", // Định dạng dấu ba chấm
        })

    </ul>
</div>
<script>
    function Hoi(event) {
        var result = confirm("Bạn có chắc chắn xóa sản phẩm?");
        if (result == true) {

        }
        else {
            event.preventDefault();
            // window.location.href='../SanPham/Index';
        }
    }
</script>